<section class="experience-section">
  <h2>Experience</h2>

  <div class="experience-cards">
    <div class="job-card" *ngFor="let j of jobs">
      <img [src]="j.logo" class="job-logo" alt="{{ j.company }} logo" />

      <div class="job-info">
        <h3>
          <a
            class="company-link"
            [href]="j.web"
            target="_blank"
            rel="noopener noreferrer"
          >
            {{ j.company }}
          </a>
        </h3>

        <h4>{{ j.role }}</h4>

        <ul>
          <li *ngFor="let p of j.points">{{ p }}</li>
        </ul>
      </div>

      <div class="years-range">{{ j.yearsLabel }}</div>
    </div>
  </div>
</section>
