<div class="space-page">

  <header class="top-bar">
    <div class="logo">Oswaldo Hernandez</div>

    <nav class="social-icons">
      <a href="https://x.com/TU_USUARIO" target="_blank">
        <i class="fab fa-x-twitter"></i>
      </a>

      <a href="https://github.com/TU_USUARIO" target="_blank">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://linkedin.com/in/TU_USUARIO" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://instagram.com/TU_USUARIO" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </nav>
  </header>

  <div class="stars-layer stars-layer-1"></div>
  <div class="stars-layer stars-layer-2"></div>

  <main class="hero">
    <section class="planet-card">
      <div class="planet">
        <div class="avatar-wrapper">
          <img src="assets/myprofilephoto.jpeg" alt="Avatar">
        </div>
      </div>

      <h1 class="name">Oswaldo Hernandez</h1>
      <h2 class="role">Software & data Engineer</h2>

      <p class="description">
        My description
      </p>
    </section>
  </main>

</div>
