<div class="space-page">

  <header class="top-bar">
    <a class="cv-link"
      href="assets/cv/Oswaldo_Hernandez_CV.pdf"
      download="Oswaldo_Hernandez_CV.pdf">
      Download my personal CV
    </a>


    <nav class="social-icons">
      <a href="https://x.com/OswaldOniShango" target="_blank">
        <i class="fab fa-x-twitter"></i>
      </a>

      <a href="https://github.com/OswaldOniSango" target="_blank">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/oswaldohernandez1104/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://www.instagram.com/oswaldonisango/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </nav>
  </header>

  <div class="stars-layer stars-layer-1"></div>
  <div class="stars-layer stars-layer-2"></div>

  <main class="hero">
    <section class="planet-card">
      <div class="planet">
        <div class="avatar-wrapper">
          <img src="assets/myprofilephoto.jpeg" alt="Avatar">
        </div>
      </div>

      <h1 class="name">Oswaldo Hernandez</h1>
      <h2 class="role">Software & data Engineer</h2>

      <p class="description">
        I’m a Software Developer with 4+ years of experience, currently evolving into a Data Engineer with a strong focus on building scalable backend systems and managing cloud-based data workflows.
      </p>

      <p class="description">
        My core expertise lies in Java and Spring, with a solid foundation in Java SE/EE, Maven, REST APIs, Hibernate, Snowflake, Spring, JavaScript, Cypress, Git/GitHub, and SQL.
      </p>

      <p class="description">
        Over the past three years, I’ve specialized in data engineering, working with:
      </p>

      <ul class="description-list">
        <li>Snowflake (ELT pipelines using stored procedures, streams, UDFs, views)</li>
        <li>Kafka and MongoDB for real-time data streaming</li>
        <li>Java for microservices development</li>
        <li>Cypress for integration and E2E testing</li>
        <li>GitHub Actions for CI/CD automation (migrated from Jenkins)</li>
      </ul>

      <p class="description">
        I’m passionate about delivering clean, efficient, and reliable data systems—bridging backend development with modern data infrastructure.
      </p>
    </section>

  </main>

</div>

    <app-hobbies></app-hobbies>
    <app-projects></app-projects>
    <app-experience></app-experience>