<div class="space-page">

  <header class="top-bar">
    <div class="logo">Oswaldo Hernandez</div>

    <nav class="social-icons">
      <a href="https://x.com/OswaldOniShango" target="_blank">
        <i class="fab fa-x-twitter"></i>
      </a>

      <a href="https://github.com/Oswaldo-Hernandez_vnt" target="_blank">
        <i class="fab fa-github"></i>
      </a>

      <a href="https://www.linkedin.com/in/oswaldohernandez1104/" target="_blank">
        <i class="fab fa-linkedin"></i>
      </a>

      <a href="https://www.instagram.com/oswaldonisango/" target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

    </nav>
  </header>

  <div class="stars-layer stars-layer-1"></div>
  <div class="stars-layer stars-layer-2"></div>

  <main class="hero">
    <section class="planet-card">
      <div class="planet">
        <div class="avatar-wrapper">
          <img src="assets/myprofilephoto.jpeg" alt="Avatar">
        </div>
      </div>

      <h1 class="name">Oswaldo Hernandez</h1>
      <h2 class="role">Software & data Engineer</h2>

      <p class="description">
        I’m a Software Developer with 4+ years of experience, currently evolving into a Data Engineer with a strong focus on building scalable backend systems and managing cloud-based data workflows.

        My core expertise lies in Java and Spring, with a solid foundation in Java SE/EE, Maven, REST APIs, Hibernate, Snowflake, Spring, JavaScript, Cypress, Git/GitHub, and SQL.

        Over the past year, I’ve specialized in data engineering, working with:
        •Snowflake (ELT pipelines using stored procedures, streams, UDFs, views)
        •Kafka and MongoDB for real-time data streaming
        •Go for microservices development
        •Cypress for integration and E2E testing
        •GitHub Actions for CI/CD automation (migrated from Jenkins)

        I’m passionate about delivering clean, efficient, and reliable data systems—bridging backend development with modern data infrastructure.
      </p>
    </section>

  </main>

</div>

    <app-hobbies></app-hobbies>
    <app-projects></app-projects>
    <app-experience></app-experience>